body {
    font-family: 'Do Hyeon', sans-serif, 'Open Sans';
    background-color: #343A40;
    color: #ffffff;
}

.navbar {
    padding-left: 3vh;
    padding-right: 3vh;
    color: #ffffff;
}

header {
    background-image: url('../img/principal.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.centrado {
    padding-top: 20vh;
}

.aaa {
    font-size: 3.5vh;
    font-weight: bold;
}

.bbb {
    font-size: 3vh;
}

.ccc {
    font-size: 2vh;
}

a.nav-link.ppp:hover {
    color: rgb(230, 41, 88);
}

#proyecto img {
    width: 25vh;
    height: auto;
    justify-content: center;
    align-items: center;
    place-items: middle;
}

@media only screen and (max-width: 992px) {
    span.xxx {
        display: none;
    }
}